[submodule "metamoji-api"]
	path = metamoji-api
	url = https://github.com/metamoji-unofficial/sdk
[submodule "apk"]
	path = apk
	url = https://github.com/metamoji-unofficial/apk
[submodule "docs"]
	path = docs
	url = https://github.com/metamoji-unofficial/docs
